* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  margin-left: 3%;
  margin-right: 3%;
}
.pad-t {
  padding-top: 1.5rem;
}
.pad-t3 {
  padding: 0 0 1rem 0;
}
.white {
  color: #fff;
}
a {
  font-weight: bold;
}
img {
  width: 100%;
}
.line {
  width: 90px;
  margin: 0 auto;
}
.center {
  text-align: center;
  padding-bottom: 1rem;
}
.line1 {
  width: 90px;
  height: 2.2px;
  margin: 0% auto;
  background-color: black;
  border-bottom: 2px solid black;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
p {
  font-size: 0.8rem;
  color: #5b5b5b;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fdfdfd;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.logo {
  padding-left: 2rem;
  width: 13%;
}
.help {
  font-size: 0.7rem;
  font-weight: bold;
  color: #464040;
}
.lighter-p {
  color: rgb(190, 186, 171);
}
nav {
  padding-right: 2rem;
}
ul li {
  font-size: 0.8rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
ul li a {
  color: rgb(34, 34, 34);
  padding: 0.5rem 0.6rem;
}
ul li a:hover {
  background-color: rgb(40, 40, 40);
  color: #fff;
  border-radius: 12px;
  transition: ease-in-out 0.7s;
}
.hero-img {
  height: 83vh;
}
.about {
  text-align: center;
  padding: 5rem 14%;
}
.system {
  background-color: rgb(40, 40, 40);
  text-align: center;
  padding: 5rem 15%;
}
.services {
  padding: 5rem 14%;
}
.flexduo {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2.3rem;
}
.references {
  text-align: center;
  padding: 5rem 14%;
}
.all-link {
  /* display: inline-block; */
  padding: 0 1rem 4rem 1rem;
  color: #5b5b5b;
}
.all-link:hover {
  border-top: 2px solid black;
}
.latest-link {
  padding: 0 1rem 4rem 1rem;
  color: #5b5b5b;
}

.latest-link:hover {
  border-top: 2px solid black;
}

.galery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
.truck {
  display: inline-block;
  flex: 1;
  width: 300px;
  height: 250px;
}
.btn-load {
  display: block;
  margin: 0 auto;
  padding: 0.7rem 1rem;
  margin-top: 2rem;
  background-color: transparent;
}
.btn-load:hover {
  background-color: rgb(40, 40, 40);
  color: #fff;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
}
.faq {
  margin-top: 5rem;
}
.question-box {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.question {
  margin: 0 auto;
  text-align: start;
  background-color: #000;
  color: #fff;
  width: 500px;
  padding: 1rem 2rem;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: rgb(209, 209, 209);
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 1rem;
  width: 500px;
  font-size: 1rem;

  /* Position the tooltip */
  left: 70%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip:hover:after {
  background: rgb(209, 209, 209);

  content: " ";
  width: 50px;
  height: 39px;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: skew(60deg);
}
.contact {
  padding: 5rem 14%;
}
.contacts {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#name {
  width: 400px;
  height: 30px;
  border: 2px solid black;
}
#email {
  width: 400px;
  height: 30px;
  border: 2px solid black;
}
#textarea {
  padding-top: 20px;
}
::-webkit-input-placeholder {
  color: rgb(209, 209, 209);
  padding-left: 20px;
}
.btn-send {
  display: block;
  margin: 2rem auto 2rem;
  padding: 0.5rem 3rem;
  background-color: transparent;
  margin-left: 71%;
}
.btn-send:hover {
  background-color: rgb(40, 40, 40);
  color: #fff;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
}
footer {
  background-color: rgb(40, 40, 40);
  color: #eee;
  padding: 2rem;
}
i {
  margin-left: 180px;
  cursor: pointer;
  color: #fff;
}
